<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io with Flask</title>
</head>
<body>
    <h1>Socket.io with Flask</h1>
    <ul id="messages"></ul>
    <form id="messageForm">
        <input id="messageInput" autocomplete="off" /><button>Send</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('mensaje', function(msg){
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(msg));
            ul.appendChild(li);
        });

        document.getElementById('messageForm').onsubmit = function(event) {
            event.preventDefault();
            var messageInput = document.getElementById('messageInput');
            socket.emit('mensaje', messageInput.value);
            messageInput.value = '';
        };
    </script>
</body>
</html>
